.box-1 {
  //display: none;
  position: absolute;
  width: 80%;
  height: 60%;
  
}

.box-2 {
  //display: none;
  position: absolute;
  width: 80%;
  height: 60%;
} 

.box-3 {
  //display: none;
  position: absolute;
  width: 80%;
  height: 60%;
  
}

.box-4 {
  //display: none;
  position: absolute;
  width: 80%;
  height: 60%;
  
}

.box-11 {
  //display: none;
  position: absolute;
  width: 70%;
  height: 40%;
  
}

.box-12 {
  //display: none;
  
  position: absolute;
  width: 70%;
  height: 40%;
  
}

.box-13 {
  //display: none;

  position: absolute;
  width: 70%;
  height: 40%;
}

.box-14 {
  //display: none;

  position: absolute;
  width: 70%;
  height: 40%;
  
}
.box-21 {
  //display: none; 

  position: absolute;
  width: 60%;
  height: 20%;
  
}

.box-22 {
  //display: none;

  position: absolute;
  width: 60%;
  height: 20%;
  
}

.box-23 {
  //display: none;

  position: absolute;
  width: 60%;
  height: 20%;
  
}

.box-24 {
  //display: none;

  position: absolute;
  width: 60%;
  height: 20%;
  
}

.box-31 {
  //display: none;

  position: absolute;
  width: 50%;
  height: 10%;
}

.box-32 {
  //display: none;

  position: absolute;
  width: 50%;
  height: 10%;
  
}

.box-33 {
  //display: none;

  position: absolute;
  width: 50%;
  height: 10%;
  
}

.box-34 {
  //display: none;

  position: absolute;
  width: 50%;
  height: 10%;
  
}